@model IEnumerable<RecipeStore.Models.RecipeModel>

@{
    ViewBag.Title = "Recipes";
}

<h2>Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="thumbnail col-sm-6 col-md-4">
            <img src="" alt="">
            <div class="caption">
                <h4><strong>@Html.DisplayFor(modelItem => item.RecipeName)</strong> <small>@Html.DisplayFor(modelItem => item.Category.CategoryName)</small></h4>
                <p> 
                @{
                    //Below checks for the length of the description
                    //if it is over a certain length then it removes the last 3 elements and appends '...'
                    //ToString declarations are just to enforce string behaviour and remove oddities

                    if(item.Description.ToString().Length > 51)
                    {
                        string appendDots = "...";
                        string newValue = item.Description.ToString();
                        newValue = newValue.Substring(0, 51);
                        newValue += appendDots.ToString();
                        item.Description = newValue.ToString();
                    }
                }

                @Html.DisplayFor(modelItem => item.Description) </p>
                <p>@Html.ActionLink("View", "Details", new { id = item.Id })</p>
            </div>
        </div>
    }
</div>